<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rulers Academy Activation email</title>
</head>
<body>
    <div>Welcome to rulers Academy</div>
    <div>Dear <%= user.name %>,</div>
    <div>Thank you for signing up for Rulers Academy! We are excited to have you on board.</div>
    <div>To complete your registration, please activate your account by clicking the link below:</div>
    <div>Click the link below to activate your account</div>
   
    <div>Or copy and paste the link below into your browser</div>
    <div><%= activationCode %></div>
    <div>Thank you for joining us!</div>
    <div>Best regards,</div>
    <div>Rulers Academy Team</div>
    <div>Note: This email was sent to <%= email %>. If you did not create an account, please ignore this email.</div>
    <div>If you have any questions, feel free to contact us at </div>

</body>
</html>